<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Ivan Tikhonov itikhon0v.log personal web page blog" />
    <link
      href="assets/css/style.css"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    <link rel="icon" href="data:,">
    <title>Ivan Tikhonov - itikhon0v.log</title>
  </head>
  <body>
    <header>
      <h1>Ivan Tikhonov</h1>
      <blockquote>A collection of post-its I couldn’t have found on the internet</blockquote>
      <p></p>
      
      <nav>
        <a href="https://github.com/itikhon0v" target="_blank" rel="noopener noreferrer">GitHub</a>
        &bullet;
        <a href="rss.xml" target="_blank" rel="noopener noreferrer">RSS</a>
        &bullet;
        <a href="https://github.com/itikhon0v/itikhon0v.github.io/issues/new/choose" target="_blank" rel="noopener noreferrer">Feedback</a>
        <hr />
      </nav>
    </header>

    <main>{{ BLOG }}</main>

    <footer>
      <hr />
      Built on {{ BUILD_DATE }} in {{ BUILD_TIME }}<br>
      <p>
        &copy; {{ YEAR }} Content is licensed under 
        <a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank" rel="noopener">CC BY-NC 4.0</a><br> 
        Code is licensed under 
        <a href="https://raw.githubusercontent.com/itikhon0v/itikhon0v.github.io/refs/heads/main/LICENSE" target="_blank" rel="noopener">MIT License</a>.
      </p>
    </footer>
  </body>
</html>
