<!doctype html>
<html id="top" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ DESCRIPTION }}" />
    <link
      href="../assets/css/style.css"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    <link rel="icon" href="data:,">
    <title>{{ TITLE }}</title>
  </head>
  <body>
    <header>
      <h1><a href="../index.html">Ivan Tikhonov's Blog</a></h1>
      <hr />
    </header>

    <main>
      <article>
        <h1>{{ TITLE }}</h1>
        <blockquote>{{ DATE }} &bullet; {{ TAGS }}</blockquote>

        {{ CONTENT }}
      </article>
    </main>

    <footer>
      <hr />
      <a href="#top">Back to top</a><br>
      <p>
        &copy; {{ YEAR }} Content License 
        <a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank" rel="noopener">CC BY-NC 4.0</a><br> 
        Code License 
        <a href="https://raw.githubusercontent.com/itikhon0v/itikhon0v.github.io/refs/heads/main/LICENSE" target="_blank" rel="noopener">MIT License</a>.
      </p>
    </footer>
  </body>
</html>
